<<<<<<< HEAD
<% content_for :sidemenu do %>
  <p><%= link_to "Email", '#' %></p>
  <p><%= link_to "Phone", '#' %></p>
  <p><%= link_to "Snail Mail", '#' %></p>
=======
<% content_for :submenu do %>
  <%= link_to "About", about_path %></br>
  <%= link_to "Contact", contact_path %></br>
  <%= link_to "FAQ", faq_path %></br>
>>>>>>> 27000b929445c95590cf8392302c02fdf0a2b6d4
<% end %>


Contact us here.
