<<<<<<< HEAD
<% content_for :sidemenu do %>
  <p><%= link_to "Top 3 Questions", about_path %></p>
  <p><%= link_to "Dispute Resolution", faq_path %></p>
  <p><%= link_to "whatever", faq_path %></p>
=======
<% content_for :submenu do %>
  <%= link_to "About", about_path %></br>
  <%= link_to "Contact", contact_path %></br>
  <%= link_to "FAQ", faq_path %></br>
>>>>>>> 27000b929445c95590cf8392302c02fdf0a2b6d4
<% end %>


FAQ here
