<!DOCTYPE html>
<html>
<head>
  <title>Barterville</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
  <div class="container">

    <div class="row" id="sign-in-dropdown">
      <div class="span12">
        <%= form_tag '/login' do  %>
        Enter Name:
        <p><%=  text_field_tag 'name' %></p>
        Enter Password:
        <p><%= password_field_tag  %></p>
        <%= submit_tag 'go'  %>
        <% end  %>
      </div>
    </div>

    <%= render 'shared/nav' %>

    <div class="row">
      <div class="span3">
        <%= yield :sidemenu %>
        <%= render 'shared/search'   %>
      </div>
      <div class="span9">
        <%#=  render 'shared/signin_out' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>

  </div><!-- end container -->
=======
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="#">Barterville</a>
            <ul class="nav">
                <li class="active"><%= link_to "Register", users_path %></li>
                <li class="active"><%= link_to "Login", root_path %></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
        <%= yield :submenu %>
        <%= render 'shared/search' %>
    </div>
    <div class="span9"><%= yield %></div>
  </div>
  <div class="row">
    <div class="span12"></div>
  </div>
</div>
>>>>>>> 27000b929445c95590cf8392302c02fdf0a2b6d4

</body>
</html>














